{% extends 'home/base.html' %}
{% block content %}
<!-- container class has some default margin i guess, so make sure to give margin for the container class  -->
<!-- <div class="container m-4 p-0">  -->
  <!-- mt-2 ms-5 mx-3 -->
    <div class="row">
    <div class="col-2 ps-0 ">
        <div class="card ms-3 my-2" style="width: 14rem;">
            <div class="card-header">
              Categories
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Laptops</li>
              <li class="list-group-item">Mobiles</li>
              <li class="list-group-item">Smart Watches</li>
              <li class="list-group-item">Ear Phones</li>
            </ul>
          </div>
    </div>
    <div class="col">
    <div class="row">
      <!--<div class="col-3 mx-2">
        
        <div class="card mx-3 my-2" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>  <div class="row">
      <div class="col-3 mx-2">
        
        <div class="card mx-3 my-2" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3 mx-2">
        
        <div class="card my-2" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card my-2" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
      </div>-->
      <div class="col-3 mx-2">
        
        <div class="card my-2" style="width: 18rem;">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">Price: 12445</p>
            <div class="d-grid gap-2"><a href="#" class="btn btn-primary">Go somewhere</a></div>
          </div>
        </div>
      </div>
      <div class="col-3 mx-2">
        
        <div class="card my-2" style="width: 18rem;">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3 mx-2">
        
        <div class="card my-2" style="width: 18rem;">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3 mx-2">
        
        <div class="card my-2" style="width: 18rem;">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3 mx-2">
        
        <div class="card my-2" style="width: 18rem;">
          <img src="https://picsum.photos/200/" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
      
    </div>

</div> 


<!-- </div> -->
{% endblock %}